@font-face {
    font-family: 'Tallica';
    src: url('../public/fonts/Tallica_prueba-VF.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

/* Contenedor compartido para contador y navbar */
.header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1050;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, #010e45, #1b6aa5);
}

/* Estilos del Contador */
.alert-bar-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.alert-bar-gradient {
    width: 100%;
    height: 100%;
    /* Ocupa el 100% de la altura de .alert-bar-wrapper */
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert-content-container {
    width: 100%;
    max-width: 1300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px 0 60px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.9);;
}

.alert-text {
    font-weight: 700;
    font-size: 28px;
    text-transform: uppercase;
    line-height: 28px;
    letter-spacing: 3px;
    word-spacing: 4px;
    text-align: center;
    margin: 0;
    font-family: 'Tallica', 'Arial', sans-serif;
}

.countdown-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.countdown {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.countdown div {
    background-color: #1b6aa5;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    box-sizing: border-box;
    width: 70px;
    /* Ancho fijo para escritorio */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
}

.countdown span#days,
.countdown span#hours,
.countdown span#minutes,
.countdown span#seconds {
    font-family: 'Tallica', sans-serif;
    font-size: 24px;
    line-height: 40px;
    display: block;
}

.countdown .label {
    display: block;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Arial', sans-serif;
    letter-spacing: 0.7px;
    margin-top: 0;
}

.alert-button {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 8px 24px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s;
    text-decoration: none;
}

.alert-button:hover {
    background: #010e45;
    color: #1b6aa5;
    border: 2px solid #010e45;
}

/* Estilo general del Navbar */
.custom-navbar {
    background-color: transparent;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 2;
    height: 70px;
    /* Altura fija para escritorio */
}

.navbar-container {
    padding: 40px 60px;
}

.navbar-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40px;
    max-width: 200px;
}

.navbar-logo-container-date {
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    color: #fbb601;
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: 0.8;
}

.navbar-logo {
    width: auto;
    height: 100%;
    position: relative;
}

.navbar-brand {
    font-family: 'Georgia', serif;
    font-size: 1.8rem;
    font-weight: bold;
    color: #fbb601;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.navbar-brand:hover {
    color: #f18500;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* Enlaces del navbar */
.nav-link {
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    color: #fbb601;
    margin-right: 15px;
    text-transform: capitalize;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-link:hover {
    color: #f18500;
    transform: scale(1.05);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.btn-offer-mobile,
.btn-offer {
    background-color: black;
    color: white;
    font-weight: 800;
    font-size: 0.75rem;
    padding: 10px 24px;
    border-radius: 5px;
    text-transform: uppercase;
    margin: auto;
    text-decoration: none;
}

.btn-offer-mobile {
    display: none;
}

.btn-offer {
    display: inline-block;
}

.last-nav-link {
    margin-right: 0 !important;
    padding-right: 0 !important;
}

.navbar button {
    background-color: transparent;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 32px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 1px;
}

.navbar button:focus,
.navbar button:active {
    outline: none;
    box-shadow: none;
    border: none;
}

@media(max-width: 992px) {

    /* Contador */
    .alert-content-container {
        flex-direction: column;
        gap: 10px;
        text-align: center;
        padding: 10px 20px;
        height: auto;
    }


    /* Aseguramos que la barra del contador tenga una altura mínima en móviles */
    .alert-bar-wrapper {
        height: auto;
        /* Permite que el contenido determine la altura */
        min-height: 85px;
        /* Pero asegúrate de que no se haga demasiado pequeño */
        width: 100%;
    }

    .alert-bar-gradient {
        height: 100%;
        /* Ocupa el 100% de la altura de .alert-bar-wrapper */
    }

    .countdown-container {
        align-items: center;
    }

    .countdown div {
        width: 60px;
        padding-top: 6px;
        padding-bottom: 6px;
    }

    .countdown span#days,
    .countdown span#hours,
    .countdown span#minutes,
    .countdown span#seconds {
        /* font-family: 'Tallica', sans-serif; */
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 1px;
        margin-bottom: 1px;
    }

    .countdown .label {
        font-size: 9px;
        margin-top: 0px;
    }

    .alert-text {
        font-size: 18px;
        line-height: 28px;
    }

    /* Navbar */
    .custom-navbar {
        height: auto;
        /* Se ajusta a su contenido */
        width: 100%;
    }

    .navbar-container {
        padding: 12px 32px !important;
        flex-wrap: wrap;
    }

    .navbar-logo-container {
        max-width: 150px;
        padding: 8px 0;
    }

    .btn-offer-mobile {
        display: inline-block;
        margin-right: 10px;
    }

    .btn-offer {
        display: none;
    }

    /* Para el menú desplegable de Bootstrap en móvil */
    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #010e45;
        z-index: 1000;
        /* Importante: Ajustar max-height para que quepa en el viewport debajo del contador y navbar */
        /* calc(100vh - (altura contador + altura navbar)) */
        max-height: calc(100vh - var(--fixed-header-height));
        /* Usaremos una variable CSS si es posible, o JS */
        overflow-y: auto;
    }

    .navbar-nav {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .nav-item {
        margin: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .nav-item:last-child {
        border-bottom: none;
    }

    .nav-link {
        padding: 10px 0;
        display: block;
        width: 100%;
    }

    .dropdown-menu {
        position: static;
        border: none;
        box-shadow: none;
        padding: 0;
        margin-top: 0;
        background-color: inherit;
        width: 100%;
    }

    .dropdown-item {
        /* ELIMINAR O AJUSTAR ESTAS PROPIEDADES PARA CENTRAR */
        padding-left: 0;
        /* Eliminar el padding a la izquierda para que no empuje el texto */
        text-align: center;
        /* Cambiar a center para alinear el texto al centro */
        color: #fbb601;
        display: block;
        /* Asegurarse de que sea un bloque para que text-align funcione correctamente */
        padding: 10px 0;
    }

    .dropdown-item:hover {
        background-color: rgba(255, 255, 255, 0.1);
        color: #f18500;
    }
}

@media(max-width: 493px) {

    /* Contador */
    .alert-content-container {
        padding: 10px;
    }

    .alert-text {
        font-size: 16px;
        line-height: 32px;
        letter-spacing: 1px;
    }

    .countdown div {
        width: 50px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .countdown span#days,
    .countdown span#hours,
    .countdown span#minutes,
    .countdown span#seconds {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 2px;
        font-weight: 600;
    }

    .countdown .label {
        font-size: 10px;
    }

    .alert-button {
        padding: 6px 18px;
        font-size: 12px;
    }

    /* Navbar */
    .custom-navbar {
        height: auto;
        /* Se ajusta a su contenido */
        width: 100%;
    }

    .navbar-container {
        padding: 4px 12px !important;
        flex-wrap: wrap;
    }

    .navbar-logo-container {
        max-width: 150px;
    }

    .btn-offer-mobile {
        display: inline-block;
        margin-right: 10px;
    }

    .btn-offer {
        display: none;
    }

}
